.footer {
  background: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
  padding: 1.5rem;
  margin-top: 0rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-icons {
  display: flex;
  gap: 1.2rem;
}

.social-btn {
  font-size: 1.6rem;
  color: var(--text-secondary);
  transition: transform 0.3s ease, color 0.3s ease;
}

/* 🎨 Efectos hover específicos */
.social-btn.github:hover {
  color: #171515;
  transform: scale(1.3);
}

.social-btn.linkedin:hover {
  color: #0a66c2;
  transform: scale(1.3);
}

.social-btn.twitter:hover {
  color: #000000;
  transform: scale(1.3);
}

.social-btn.facebook:hover {
  color: #1877f2;
  transform: scale(1.3);
}
